.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
  color:#fff;
  flex: 1;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.mainTitle{
  font-size:36px;
  text-align: center;
}
.post{
  cursor:pointer;
  /* min-width:30%; */
  margin:20px;
}
.postTitle{
  text-align: center;
}
.postImage{
  /* width:500px; */
  transition:0.2s;
  border-radius:5px;
  max-width:calc(100vw - 50px);

}
.postImage:hover{
  transform: scale(1.1);
  transition:0.2s;
}
