.main{
   margin:auto;
   width:70%;
}
.mainImage{
    width:500px;
    object-fit: contain;
    display:block;
    margin: auto;
}
.mainTitle{
    text-align:center;
}
.main p{
    font-size:24px;
    line-height:45px;
    text-align:justify;
    letter-spacing: 1.5px;
}
@media screen and (max-width:600px){
    .main{
        width:80%;
    }
.main p{
    font-size:18px;
    line-height:40px;
    letter-spacing:normal;
}
.mainImage{
    width:100%;
}
}